body {
  color: white;
}
/* WRAP */
.wrap {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightyellow;
}
/* CONTAINER */
.base {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background: lightgreen;
}
/* TOP */
.head {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: black;
  color: white;
}
/* INFO */
.info {
  min-height: 30%;
  background: green;
  padding:5px 20px;
}
/* INPUT */
.wrap__input {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  color: black !important;
}
/* BUTTONS */
.panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons {
  width: 100%;
  height: 60px;
  outline: none;
  cursor: pointer;
}
#equal {
  grid-row: 4/6;
  grid-column: 4;
  height: 100%;
  background: red;
}

#AC {
  grid-column: 1/3;
}
#zero {
  grid-column: 1/3;
}
